



a:link {color:black;text-decoration: none;text-align: center;}
nav a:hover {color:dodgerblue;text-align: center;}
a:visited {color:black;text-align: center;}
/*???why is uiux design purple?acive link?*/
/*
body{font-family:helvetica,arial; 
	width: 961px;
	margin:auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content:center;
  align-items: center;
flex-direction: column;}*/

body
{
  font-family: Avenir,helvetica Neue,helvetica,sans-serif,arial !important; 
  margin:0;
}
.homepage-animation {
  position:relative;
}

.header_content{
  position: absolute;
  top:50%;
  left:3em;
  transform: translate(0,-50%);
  line-height: 0;
}
/* .homepage-animation p
{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 2;
} */

.text1
{ 
  font-size: 5vw;
  line-height: 9vw;
  color:rgb(223, 223, 223);
  background: rgb(20, 20, 20);
  }

.text2
{ 
  font-size: 2.5vw;
  line-height: 4.5vw;
  font-style:italic;
  color:rgb(223, 223, 223);
  background: rgb(20, 20, 20);
}

.text3
{ 
  font-size: 1.5vw;
  line-height: 2.7vw;
  font-style:italic;
  color:rgb(223, 223, 223);
  background: rgb(20, 20, 20);
}

.homepage-animation img{
  width: 100%;
}

/* #wrapper{
  font-family:helvetica,arial; 
	width: 960px;
	margin:auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -moz-flex: 1;
  -webkit-flex: 1;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  }*/ */


/*#wrapper{
/*height: 100vh;
margin: 15px 0px;
	width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex: 1;
  -webkit-flex: 1;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
	align-content: center;
}
*/

#page-header{
  top:0;
  position: absolute;
  z-index: 3;
  width: 961px;
  margin:auto;
}
#page-header nav{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;}


/* #page-header li {
background-color: red;
}*/

#page-main{
	padding-top: 5%;
	padding-bottom: 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
	flex-direction: column;
	flex-grow: 1;
	align-items:flex-start;
}

/* .col-md-4 {
  padding-left: 0 !important;
}

.col-md-8{
  padding-left: 0 !important;
} */

.color-box
{
  background-color: #f0f0f0;
  padding: 1em 0;
}
.section-style{
  margin-bottom: 6em;
 }

 
/* Navigation Bar */
/* #page-header .navbar{
  padding-left: 3em;
  padding-right: 3em;
} */

/* Card */
  /*remove border*/
.card {
    border:none;
    padding: 0;
    transition: transform .2s ease; /* Animation */
    -webkit-transition: transform .2s ease;
    -moz-transition: transform .2s ease;
    overflow: hidden;
  }

  .card:hover {
    border:none;
    box-shadow:   0 4px 8px 0 rgba(32, 32, 32, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.1);
  }

  /* .card-deck{
    padding:10% 0;
  } */

  .card-columns .card{
    border-radius: 0;
    border: 0;
  }

  .card-columns .card .card-img-top{
    border-radius: 0;
    border: 0;
  }
  .card-horizontal {
    display: flex;
    flex: 1 2 auto;
}
/* padding below navbar */
  .below-nav{
    margin-top: 55px;
  }

.project-container{
  max-width:1000px;
  width:  100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
	flex-direction:row;
	flex-grow: 1;
	flex-wrap:wrap;
  justify-content: flex-start;
  overflow: hidden;
}
 
.projectbox
{
  width:40vw;
  height:22.5vw;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 30px; 
  display:inline-block;
  position: relative;
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;*/
  justify-content: center;
  transition: transform .2s ease; /* Animation */
  -webkit-transition: transform .2s ease;
  -moz-transition: transform .2s ease;
  overflow: hidden;
  /* box-shadow: 5px 5px 5px grey; */
 box-shadow:   0 4px 8px 0 rgba(32, 32, 32, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.1);

}


.overlay {
  text-align: center;
  /* padding: 66px 0 66px 0; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;

  background-color:rgba(255, 255, 255, 0.7);
}

.project-container:hover .projectbox{
  transform: scale(1.02)
}

.project-container:hover .overlay {
  opacity: 1;
}

.project_description{
  width:20vw;
  height:22.5vw;
  margin-top:20px;
  margin-bottom:20px;
  margin-right: 30px; 
  display:inline-block;
  position: relative;
}


.text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: Helvetica;
  font-weight: 700;
  font-size: 16px;
  /* background-color: red; */
}

.page-main-section{
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
	flex-direction: column;
	flex-grow: 1;
	align-items:flex-start;
}

/* film projects */

.film-container{
 width:100%;
	/* margin-top: 20px; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap:wrap;
	justify-content: space-between;
}

.film-box{
	width:520px;
	Height: 430px;
  overflow: hidden;
  position: relative;
	background-color: white;
	/* border-radius: 5px;
	box-shadow: 0px 2px 5px lightgrey; */
}

/* .portfolio{
  max-width:1000px;
  width:100%;
  margin-top: 30px;
  position:relative;
} */

/* .portfolio {
  box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/*.film-box{
	margin-top: 5%;
 overflow: hidden;
  padding-top: 56.25%;
  position: relative;
	background-color: indianred;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
justify-content: center;
}*/

.film-box iframe {
   border: 0;
   height: 293px;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


 
.film-box p{
	position:absolute;
	top:300px;
	left:1rem;
}

.img-box{

	width: 150px;
	Height: 150px;
 overflow: hidden;
  position: relative;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 5px lightgrey;
}

.photo-box{

	width: 280px;
	Height: 240px;
 overflow: hidden;
  position: relative;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 5px lightgrey;
	padding: 10px;
	margin-bottom: 30px;
}

.app-interface-box{
  width: 240px;
	Height: auto;
 overflow: hidden;
  position: relative;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 30px;
}
.post-container{
  max-width:1000px;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -moz-flex;
   display: -webkit-flex;
   display: flex;
   -moz-flex-direction: column;
   -webkit-flex-direction: column;
   flex-direction:column;
   flex-grow: 1;
   flex-wrap:wrap;
   justify-content: flex-start;
 }

footer{
text-align: right; font-size: 9pt;color:dimgrey;
padding-top:4em;
padding-bottom:2em}


.center{margin: auto; width: 60%}
img {width:100%; height:auto;}
.bold{font-weight: bold; color:tomato; font-style: italic;}
.red{color:tomato;}
.italic{font-style: italic;}




@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
 
  .page-header .cta-contact {
    order: 1;
  }
}



.photo{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;

}
.photo_img
{
	margin: 20px;

}
@media all and (max-width:750px)
{
	.photo{
		  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}}

/* photo gallery */
/* .container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
} */


/* .tz-gallery {
  padding: 40px;
} */

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

/* .tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
} */

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


/* .tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  content: '';
  transition: 0.4s;
} */

/* .tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
} */

/* Multi-column text */

.text-column {
  /* Old Chrome, Safari and Opera */
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -webkit-column-width: 400px;
  /* -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px; */

  /* Old Firefox */
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -moz-column-width: 400px;
  /* -moz-column-rule-style: solid;
  -moz-column-rule-width: 1px; */
  
 /* >Standard syntax */
  column-count: 2;
  column-gap: 40px;
  column-width: 400px;
  /* column-rule-style: solid;
  column-rule-width: 1px; */

  margin: 2em 0;
}

/* Prototype */
.prototype-box
{
  margin-bottom: 3em;
}

/* Design Iteration image shadow */
.di-img img{
  box-shadow:   0 4px 8px 0 rgba(32, 32, 32, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.1);
}

/* design iteration container */
.margin-bottom{
  margin-bottom: 4em;
}

/*Fonts*/
.font-section{
	font-size: 1.5em;
  padding-top:1.5em; 
  padding-bottom:1.5em;
  color: #3f3f3f;
  text-transform: uppercase;
}

.font-article-title{
	font-size: 1.5em;
  padding-top:1.5em; 
  color: #3f3f3f;
  text-transform: uppercase;
}
.font-title-1
{
	font-weight:bolder;
	font-size:1.5em;
  font-style: italic;
  color: #3f3f3f;
}

.font-slogan{
  font-size: 2em;
  font-weight:bold;
  color: #3f3f3f;
  font-style: italic;
}

.font-concept{
  /* text-align: center; */
  font-size: 1.5em;
  line-height: 1.8em;
  color:#3f3f3f;
  font-style: italic;
}


.post-sub-title
{
  font-weight:bolder;
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #3f3f3f;
}

.post-bullet-point
{
  font-weight:bolder;
  font-size: 1em;
  line-height: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #3f3f3f;
}

.post-paragraph
{
  font-size: 1em;
  line-height: 1.5em;
  color: #3f3f3f;
}

.font-user-test
{
  font-size: 1.2em;
  line-height: 1.5em !important;
  font-style: italic;
  color: #3f3f3f;
}

.persona-description
{
  font-size: 0.8em;
  line-height:0.4em;
  color: #3f3f3f;
}

.logo{font-style:italic;
font-weight: bolder}

.logo:hover {
  animation: 6s multicolor ease;
}

video {
  background-color: white;
}

@keyframes multicolor {
  0% {
      color: #000;
  }
  25% {
      color: coral;
  }

  50%{
    color:rgb(17, 190, 104);
  }
  75% {
      color:rgb(45, 134, 236);
  }
  100% {
      color: #000;
  }
}
@media all and (max-width: 575px) {
  .text1
  { 
    font-size: 8vw;
    line-height: 14.4vw;

    }
  
  .text2
  { 
    font-size: 4vw;
    line-height: 7.2vw;

  }
  
  .text3
  { 
    font-size: 2.4vw;
    line-height: 4.8vw;
  }
}

@media all and (max-width: 480px) {
.film-box {
  width:100%;
}
.film-box .font-title-1{
  font-size: 4.5vw;
}
.film-box p{
  font-size: 4vw;
}
}